[Unit]
Description=noVNC web client for x11vnc
After=x11vnc.service
Requires=x11vnc.service

[Service]
Type=simple
ExecStart=/opt/novnc/utils/novnc_proxy --vnc localhost:5900 --listen localhost:6080
Restart=on-failure

[Install]
WantedBy=multi-user.target
